<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <p class="text-center">
        &copy; Camera shop 담당자: 송선희 Email: <a href="mailto:#">first.last@example.com</a> 연락처: 010-xxxx-xxxx
    </p>
</div>
</body>
</html>