<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"
          charset="UTF-8" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <title>Login</title>
</head>
<body>
<div class="container-fluid col-sm-12">
    <h1>Login</h1>
    <form class="form-signin" th:action="@{/registForm}" method="post">
        <p>
            <button class="btn btn-info btn-lg" type="submit">아이디 등록</button>
        </p>
    </form>
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">로그인</h2>
        <div th:if="${param.error}" class="alert alert-danger">잘못된 Email 주소나
            암호 입니다.</div>
        <input type="text" class="form-control" name="email"
               placeholder="Email" required="required" autofocus="autofocus" value="email"/>
        <input type="password" class="form-control" name="password"
               placeholder="Password" required="required" autofocus="autofocus" value="demo"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign
            in</button>
    </form>
</div>
</body>
</html>