<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8" />
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
<title>Login</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="container">
		<div class="hero-unit col-sm-4">
			<h1>로그인</h1>
			<form class="form-signin" th:action="@{/registForm}" method="post">
				<p>
					<button class="btn btn-info btn-lg" type="submit">아이디 등록</button>
				</p>
			</form>

			<form class="form-signin" th:action="@{/login}" method="post">
				<h2 class="form-signin-heading"></h2>
				<div class="container"></div>
				<div th:if="${param.error}" class="alert alert-danger col-sm-6">잘못된
					Email 주소나 암호 입니다.</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label> <input
						type="email" class="form-control" id="email" name="email"
						placeholder="Email" />
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label> <input
						type="password" class="form-control" id="password" name="password"
						placeholder="Password" />
				</div>
				<button class="btn btn-lg btn-primary col-sm-3" type="submit">로그인</button>
			</form>
				<form action="/connect/facebook" method="POST">
					<input type="hidden" name="scope" value="user_posts" />
					<label class="formInfo">
						소셜로그인
					</label>
					<button type="submit" class="btn btn-primary btn-lg">Facebook
						로그인</button>
				</form>
		</div>
		<div class="footer" th:replace="footer :: footer">&copy; 2013 The Static Templates</div>
	</div>

</body>
</html>