<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"
          charset="UTF-8" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <title>카메라</title>
</head>
<body>
<div th:replace="header :: header">&nbsp;</div>
<div class="container-fluid col-sm-12">
    <h1>카메라</h1>
    <form class="form-signin" th:action="@{/registForm}" method="post">
        <p>
            Hi, <span th:text="${username}"></span>
        </p>
    </form>

</div>
<div th:replace="footer :: 'footer'">&copy; 2013 The Static Templates</div>
</body>
</html>