<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"
          charset="UTF-8" />
    <title>가입되셨습니다</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
</head>
<body>
<div class="container-fluid col-sm-12">
    <h1>환영합니다.</h1>
        <p>
            <span th:text="@{username}"></span> 님, 안녕하세요.
        </p>
    <form class="form-signin" th:action="@{/menu}" method="post">
        <button class="btn btn-lg btn-primary btn-block" type="submit">메인으로 가</button>
    </form>
</div>
</body>
</html>