<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8" />
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
<title>Login</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="container">
		<h3>페이스북 로그인이 성공하였습니다.</h3>

		<p>
			페이스북 로그인 되셨습니다. 계속 하시려면  <a href="/home"> 여기 눌러서 계속</a> 버튼을 클릭해 주세요.
		</p>
	</div>
	<div class="footer" th:replace="footer :: footer">&copy; 2013 The
		Static Templates</div>
</body>
</html>