<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"
          charset="UTF-8"/>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 50px;
        }
    </style>
    <script>
        document.location.href= "http://localhost:8080/home";
    </script>
    <title>Login</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h3>페이스북 로그인이 성공하였습니다.</h3>

    <p>
        페이스북 로그인 되셨습니다. 자동으로 넘어가지 않을 경우 <a href="/home"> 여기 눌러서 계속</a> 버튼을 클릭해 주세요.
    </p>
</div>
<div class="footer" th:replace="footer :: footer">&copy; 2013 The
    Static Templates
</div>
</body>
</html>